@media (max-width: 1320px) {
    #main_anime{
        grid-column-start: 1;
        grid-column-end: 10;
    }
    #advertisements{
    grid-column: 1/4;
    grid-row: 11/11;
    }
    #rankings{
        grid-row: 12/14;
        grid-column: 1/4;
    }
    #ongoings{
        grid-row: 15/18;
        grid-column: 1/4;
    }
    #popular{
        grid-row: 18/20;
        grid-column: 1/4;
    }
  }
  @media(max-width:1650px){
    #first-nav ul li{
        font-size:14px;
        padding: 0.6rem 0.6rem;
    }
    #header{
        flex-direction:column-reverse;
        align-items: center;
    }
    #first-nav{
        margin-top: 1rem;
    }
    #gogologo{
        height: 2.5rem;
        width: 6rem;
    }
    #first-nav{
        width:80%
     }
  }